
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-family: "microsoft yahei", "宋体", "Arial Narrow";
    font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 400;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}
.f-l {
    float: left !important;
}
.f-r {
    float: right !important;
}
.t-c{
    text-align: center!important;
}
.t-l{
    text-align: left!important;
}
.t-r{
    text-align: right!important;
}
.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix{
    *+height:1%;
}

/*滚动条变动*/
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(0,0,0,.3);
}
::-webkit-scrollbar-corner, ::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}

/**/
body{
    background: url(../imgs/o_bg5.jpg) no-repeat;
    background-attachment: fixed;
}
.container{
    min-width: 1100px;
}
/*导航部分*/
.w1100{
    width: 1100px;
    margin: 0 auto;
}
#nav{
    width: 100%;
    /*height: 40px;*/
    background: #333;
}
#nav .logo{
    width: 54px;
    height: 54px;
}
#nav .logo img{
    width: 100%;
}
#nav ul{
    float: right;
}
#nav ul li{
    float: left;
}
#nav ul li a{
    display: block;
    color: #c2c2c2;
    padding: 0 20px;
    margin: 0 10px;
    height: 54px;
    line-height: 54px;
    position: relative;
}
#nav ul li a .line{
    display: block;
    height: 5px;
    width: 0;
    background: #66ccff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all linear .25s;
    opacity: 0;
}
#nav ul li a:hover{
    color: #fff;
    transition: all linear .25s;
}
#nav ul li a:hover .line{
    transition: all linear .25s;
    width: 100%;
    opacity: 1;
}
#nav ul li .sel{
    color: #fff;
}
#nav ul li .sel::after{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background: #66ccff;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*内容样式*/
.showCnt{
    width: 90%;
    min-width: 1100px;
    margin: 25px auto;
    padding: 30px 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
}
.showCnt .leftCnt{
    width: 30%;
}
.showCnt .leftCnt .head{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
}
.showCnt .leftCnt .head img{
    width: 100%;
}
.showCnt .leftCnt .userName{
    text-align: center;
    font-size: 16px;
    color: #666666;
    font-weight: 300;
}
.showCnt .leftCnt .btnBox{
    text-align: center;
    margin-top: 25px;
}
.mainBtn1{
    display: inline-block;
    color: #666;
    width: 150px;
    padding: 10px 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
    transition: all linear .25s;
}
.mainBtn1:hover{
    border: 1px solid #66ccff;
    box-shadow: 0 0 5px #66ccff;
    transition: all linear .25s;
}
.showCnt .rightCnt{
    width: 70%;
    /*border-top: 1px solid;*/
}
.contentList{
    padding: 0 8%;
}
.contentList .listBox{
    padding-bottom: 10px;
    margin-bottom: 15px;
    /*border-bottom: 1px solid #ccc;*/
}
.contentList .title{
    font-size: 18px;
    padding: 10px 0;
    position: relative;
}
.contentList .title::before{
    content: "";
    display: block;
    width: 4px;
    height: 25px;
    background: #66ccff;
    position: absolute;
    top: 11px;
    left: -10px;
}
.contentList .title .date{
    font-weight: 400;
    font-size: 14px;
    color: #999;
}
.contentList .title a{
    color: #666;
    position: relative;
    transition: all linear .25s;
}
.contentList .title a:hover{
    color: #242424;
    transition: all linear .25s;
}
.contentList .title a::before{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #ccc;
    opacity: 1;
    transition: all linear .25s;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.contentList .title a:hover::before{
    width: 100%;
    background: #666;
    transition: all linear .25s;
}
.contentList .cnt{
    padding: 10px 0;
    color: #666;
}
.mainTitle{
    color: #666;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}

/*详细页面样式*/
.detailPage{
    width: 80%;
    margin: 0 auto;
    padding: 10px 5%;
}
.mainContent{
}
.mainContent p{
    text-indent: 2em;
    color: #666;
    padding-bottom: 15px;
}
.mainContent .describeTit{
    padding: 8px 0;
    margin-bottom: 15px;
    border-left: 4px solid;
    color:  #66ccff;
    background: rgba(247, 247, 247, 0.2);
}



/*展示框样式*/
.myPracticeDemo{
    width: 1100px;
    margin: 0 auto;
}
.myPracticeDemo ul li{
    float: left;
    width: 24%;
    border: 1px solid;
}
.myPracticeDemo ul li .cnt{
    display: block;
    height: 150px;
    color: #333;
}
.myPracticeDemo ul li .cnt:hover{
    background: rgba(51, 51, 51, 0.5);
    color: #fff;
}













