<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>prototype与__proto__</title>
    <link rel="stylesheet" href="../css/index.css">
    <!--layer插件-->
    <!--<link rel="stylesheet" href="../pubJs/layui/css/layui.css" />-->
    <!--<script src="../pubJs/layui/layui.js" charset="utf-8"></script>-->
    <script src="../pubJs/jquery.min.js" charset="utf-8"></script>
</head>
<style type="text/css">
    .banBox{
        width: 100%;
        border: 1px solid;
        overflow-x: auto;
        background: #00ad80;
    }
    .ieDemo{
        /*overflow: hidden;*/
        /*text-align: justify;*/
        white-space:nowrap;
        font-size: 0;
        letter-spacing: -5px;
    }
    .ieDemo li{
        /*float: left;*/
        width: 100%;
        padding: 10px 0;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        /*padding: 10px;*/
        border-bottom: 1px solid #333;
        box-shadow: 1px 0 0 #000;
    }
</style>
<body>
<div class="container">
    <!--导航-->
    <div id="nav">
        <div class="w1100 clearfix">
            <h1 class="logo f-l">
                <a href="../index.html">
                    <img src="../imgs/logo.png" alt="">
                </a>
            </h1>
            <ul class="clearfix">
                <li>
                    <a href="../index.html">
                        首页
                        <span class="line"></span>
                    </a>
                </li>
                <li>
                    <a href="../blog.html" class="sel">
                        博客日志
                        <span class="line"></span>
                    </a>
                </li>
                <li>
                    <a href="../essays-js.html">
                        随笔
                        <span class="line"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="showCnt clearfix">
    <div class="goBack">
        <a href="javascript:history.go(-1);">返回</a>
    </div>
    <div class="detailPage">
        <h2 class="mainTitle">
            原型链prototype与__proto__的区别和关系
        </h2>
        <div class="mainContent">
            <p class="describeTit">
                原型链prototype与__proto__的区别和关系
            </p>
            <p class="title">
                1，prototype与__proto__是什么？
            </p>
            <p>
                在这里吧必须明确的知道一点：<br>
                1、在js里，万物皆对象。方法(Function)是对象，方法的原型(Function.prototype)
                是对象。所以，它们都具有对象共有的特点。<br>
                即：对象都具有属性__proto__，可称为隐式原型，一个对象的隐式原型指向构造该对象的构造函数的原型，
                这也保证了实例能够访问在构造函数原型中定义的属性和方法。<br>
                2、方法（Function）<br>
                方法这个特殊的对象，除了和其他对象一样有上述_proto_属性之外，还有自己特有的属性——原型属性
                （prototype），这个属性是一个指针，指向一个对象，这个对象的用途就是包含所有实例共享的属性和
                方法（我们把这个对象叫做原型对象）。原型对象也有一个属性，叫做constructor，这个属性包含了一
                个指针，指回原构造函数。
            </p>
            <p class="title">
                2、之间的关联
            </p>
            <p class="t-c">
                <img src="../imgs/proto.jpg" alt="">
            </p>
            <p>
                从上图可以看出：<br>
                1、构造函数Foo() <br>
                构造函数的原型属性Foo.prototype指向了原型对象，在原型对象里有共有的方法，所有构造函数声明的实例
                （这里是f1，f2）都可以共享这个方法。 <br>
                2、原型对象Foo.prototype <br>
                Foo.prototype保存着实例共享的方法，有一个指针constructor指回构造函数。 <br>
                3、实例 <br>
                f1和f2是Foo这个对象的两个实例，这两个对象也有属性__proto__，指向构造函数的原型对象，
                这样子就可以像上面1所说的访问原型对象的所有方法啦。 <br>
            </p>
            <p>
                另外： <br>
                构造函数Foo()除了是方法，也是对象啊，它也有__proto__属性，指向谁呢？指向它的构造
                函数的原型对象呗。函数的构造函数不就是Function嘛，因此这里的__proto__指向了Function.prototype。<br>
                其实除了Foo()，Function(), Object()也是一样的道理。<br>
                原型对象也是对象啊，它的__proto__属性，又指向谁呢？同理，
                指向它的构造函数的原型对象呗。这里是Object.prototype.<br>
                最后，Object.prototype的__proto__属性指向null。
            </p>
            <p class="title">
                3、总结
            </p>
            <p><br>
                1、对象有属性__proto__,指向该对象的构造函数的原型对象。<br>
                2、方法除了有属性__proto__,还有属性prototype，prototype指向该方法的原型对象。
            </p>
            <p class="title"></p>
<!--<pre class="layui-code" lay-title="代码">-->
<!--</pre>-->
        </div>
    </div>
</div>

<a class="returnTop" id="returnTop" onclick="rT($('#returnTop'))">
    返回顶部
</a>
</body>
<script src="../js/main.js" charset="utf-8"></script>
<!--<script type="text/javascript">-->
    <!--layui.use('code', function(){ //加载code模块-->
        <!--layui.code({-->
            <!--encode: true //是否转义html标签。默认不开启-->
            <!--,height: '600px'-->
        <!--}); //引用code方法-->
    <!--});-->
<!--</script>-->
</html>